同一フォルダに有るCSVファイルを複数の方法で読込み、必要な情報を取得する

`201704health.csv` ファイルをPythonのopen関数を使いファイルとして読込み行数を出力する

In [3]:
with open("201704health.csv", 'r', encoding="utf-8") as f:
    lines = f.read()  # □に入るファイルオブジェクトのメソッドを埋めてください。
    print(len(lines))

648

別の解法

In [4]:
count = 0
f = open("201704health.csv", 'r', encoding="utf-8")
for line in f:
    count += 1  # □に入る演算子を埋めてください。
f.close()
print(count)

31

`201704health.csv` ファイルをpandasのCSVファイルを読み込む関数を使いデータフレームとして読込み、行数と列数を出力する。その後、データフレーム全体を出力する。

In [5]:
import pandas as pd
df = pd.read_csv("201704health.csv", encoding="utf-8")  # □に入る、pandasの関数を埋めてください。

In [6]:
print(df.shape)
assert df.shape == (30, 3)

(30, 3)

In [7]:
df

            日付     歩数  摂取カロリー
0   2017-04-01   5439    2500
1   2017-04-02   2510    2300
2   2017-04-03  10238    1950
3   2017-04-04   8209    1850
4   2017-04-05   9434    1930
5   2017-04-06   7593    1800
6   2017-04-07   9320    1940
7   2017-04-08   4873    2300
8   2017-04-09  12045    1950
9   2017-04-10   7493    1850
10  2017-04-11   7289    1930
11  2017-04-12   6481    2300
12  2017-04-13  10287    1800
13  2017-04-14   8043    1940
14  2017-04-15   7435    2300
15  2017-04-16   7529    2300
16  2017-04-17   8031    1940
17  2017-04-18   8475    2300
18  2017-04-19   8132    1950
19  2017-04-20  15328    1800
20  2017-04-21  12849    1940
21  2017-04-22   4029    2300
22  2017-04-23   3890    1950
23  2017-04-24   8093    1850
24  2017-04-25   7823    1950
25  2017-04-26   7492    1850
26  2017-04-27   7203    1930
27  2017-04-28   7302    1850
28  2017-04-29   6033    2300
29  2017-04-30   4093    1950